<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tagtransfer.script</string>

    <key>ProgramArguments</key>
    <array>
        <string>/etc/tagTransfer/m_venv/bin/python</string>
        <string>/path/to/your/script.py</string>
    </array>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/com.yourusername.script.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/com.yourusername.script.out</string>
</dict>
</plist>
